<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">

@include("/common/_header.html"){}

<body class="page-body boxed-container">
<nav class="navbar horizontal-menu navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-brand">
            <a href="/" class="logo">
                <img src="/static/img/jwt.png" width="100%" alt="" class="hidden-xs">
                <img src="/static/img/jwt.png" width="100%" alt="" class="visible-xs">
            </a>
        </div>
        <div class="navbar-mobile-clear"></div>
<!--        <a href="https://github.com/jsnjfz/WebStack-Guns" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>-->
    </div>
</nav>
<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
    <div class="main-content" style="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- 关于项目 -->
                    <h4 class="text-gray">关于项目</h4>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote>
                                    <p>本平台为京东内部系统的快速导航平台。</p>
                                    </br>
                                    <p>1、系统信息聚合及分类展示：在首页通过系统聚合并分类展示，员工可直观看到常用系统，并根据系统分类快速定位到自己想了解的系统；</p>
                                    <p>2、系统快捷搜索：首页提供了“京网搜”智能搜索框，支持通过关键字、网址等多种组合的查询功能，员工可精准定位自己想访问的系统。</p>
                                </blockquote>
                            </div>
                        </div>
                        <!-- 关于作者 -->
                        <h4 class="text-gray">关于团队</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('http://navigation.jiangjiabin001.top/', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="http://navigation.jiangjiabin001.top/">
                                    <div class="xe-comment-entry">
                                        <a class="xe-user-img">
                                            <img src="https://secure.gravatar.com/avatar/41100536f1c27b5282100eb0c41aa90d" class="img-circle" width="40">
                                        </a>
                                        <div class="xe-comment">
                                            <a href="#" class="xe-user-name overflowClip_1">
                                                <strong>Designer. JD-STAR</strong>
                                            </a>
                                            <p class="overflowClip_2">联系人: yangyunpeng8</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br />
                                        <blockquote>
                                            <p>
                                            <br>一群有梦想的小伙伴。</br><br>
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer sticky footer-type-1 fixed">
            <div class="footer-inner">
                <div class="footer-text">
                    &copy; 2019
                    <a href="/"><strong>JWT</strong></a> design by <strong>JD-STAR</strong></a>
                </div>
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>